<p style="color: green"><%= notice %></p>



<%= render 'clients/search_form' %>

<div class="col-md-6">
<%= link_to 'Novo Cliente', new_client_path, :class => "btn btn-success" %>
</div>
</br>

<table class="table">
  <thead>
    <tr>
    <th>Nome Completo</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>Cidade</th>
    <th></th>
    <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
       <td><h5 class="mb-0"><%= link_to client.name_complete, client %></h5><p class="text-muted mb-0">desde <%= client.created_at.strftime("%m/%Y") %></p></td>
    <td><h6 class="mb-0"><%= link_to client.email, client %></h6></td>
  <td><h6 class="mb-0"> <%= client.phone %> </h6><small>Contato</small></td>
    <td><h6 class="mb-0"><%= link_to client.address, client %></h6><small><%= client.district %></small></td>
    <td><h6 class="mb-0"><%= link_to client.city, client %></h6></td>

        <td><%= link_to 'Edit', edit_client_path(client), :class => "btn btn-primary" %></td>
        <td><%= button_to "Delete", client, method: :delete, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# Render the navigation bar in your views %>
<%# Use it in your views %>
<%== pagy_bootstrap_nav(@pagy) %>

</div>
