<div id="<%= dom_id order %>">
  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= order.mark_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= order.model %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= order.serial_number %>
  </p>

  <p>
    <strong>Accessory:</strong>
    <%= order.accessory_id %>
  </p>

  <p>
    <strong>Bug:</strong>
    <%= order.bug %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= order.solution %>
  </p>

  <p>
    <strong>Stat:</strong>
    <%= order.stat_id %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= order.observation %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Equipament:</strong>
    <%= order.equipament_id %>
  </p>

  <p>
    <strong>Progre:</strong>
    <%= order.progre_id %>
  </p>

  <p>
    <strong>Control internal:</strong>
    <%= order.control_internal %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= order.sector_id %>
  </p>

</div>
